@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead"><b>SharePoint Permissions Report Add-in - </b>This SharePoint 2013 provider-hosted add-in provides convenient summary reports for different types of permissions settings on the SharePoint site collection on which it is installed. It is a work in progress and will get better!</p>
</div>

